.wrapper{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  .form{
    display: flex;
    justify-content: center;
  }
  .btn{
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .validation{
    color: white;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 415px) {
  .form{
    flex-wrap: wrap;
    justify-content: center;
  }
}